*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html, body{
    height: 100vh;
    width: 100vw;
    background-color: black;
    background: url(../imagens/fundo-office.jpg) no-repeat top center;
    background-size: cover;
    background-attachment: fixed;
}

main{
    position: relative;
    height: 100vh;
    
}

section#telefone{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height:750px;
    width: 368px;
    background: url(../imagens/frame-iphone17.png) no-repeat;
    
}

iframe#tela{
    position: relative;
    top: 10px;
    left: 16px;
    width: 335px;
    height: 731px;
    border-radius: 3.5rem;
}

section#redes-sociais{
    text-align: right;
    padding-top: 25vh;
    padding-right: 15px;
}

section#redes-sociais img{
    width: 80px;
    margin: 10px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.404);
    box-sizing: border-box; /* borda faz parte da caixa */
    
   
}

section#redes-sociais img:hover{
    border: 2px solid rgba(255, 255, 255, 0.582);
    transform: translate(-3px, -3px);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.712);
    transition: transform 0.3s, border .3s;
}